{% extends "Base.html" %}
{% block title %}
    Articles
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Articles List</h1>
        <br>
{#          {% form.username %}#}
          {% for articles in articles %}
              <hr class="hr" />
              <div class="d-flex"><a href="{% url 'articles:detail' slug=articles.slug %}">{{ articles.title }}</a></div>
              <div class="vr" style="height: 30px;">{{ articles.date }} </div>
              <div class="vr" style="height: 30px;">{{ articles.snippet }} </div>

              </div>
         {%endfor%}
    </div>


{% endblock %}
