{% load static %}
{% for articles in articles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>articles</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <a href="{{'home'}}">Home Page</a>

    <h1>articles</h1>
    <h2>
        <a href="#">{{ articles.title }}</a>
    </h2>
    <p>{{ articles.snippet }}</p>
    <p>{{ articles.date }}</p>

{#DATE <h1>{{ articles_data.date }}</h1>#}
{#SLUG <h1>{{ articles_data.slug }}</h1>#}
{#BODY <h1>{{ articles_data.body }}</h1>#}



</body>
</html>




{% endfor %}