{% extends "Base.html" %}
{% block title %}
    Articles
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Articles List</h1>
    <br>
          {% for articles in articles %}
              <hr class="hr" />
              <div class="d-flex"><a href="{% url 'articles:detail' slug=articles.slug %}">{{ articles.title }}</a></div>
              <!-- Element on the left -->
              <!-- Vertical divider -->
              <div class="vr" style="height: 30px;">{{ articles.date }} </div>

              <!-- Element on the left -->
              <div class="px-4">{{ articles.snippet }}</div>

        {%endfor%}
    </div>


{% endblock %}
